{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
    <h2>{{ page_title }}</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="main-actions-bar">
            <button type="submit" class="button button-success">Save Service</button>
            <a href="{% url 'billing:service_list' %}" class="action-link button-secondary">Back to Service List</a>
        </div>
    </form>
{% endblock content %}