{% extends "base.html" %}

{% block title %}Edit Patient: {{ form.instance.name }}{% endblock title %}

{% block content %}
    <h2>Edit Patient: {{ form.instance.name }}</h2>

    <form method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <div class="main-actions-bar">
            <button type="submit" class="button button-success">Save Changes</button>
            <a href="{% url 'patients:patient_detail' form.instance.id %}" class="action-link button-secondary">Cancel</a>
        </div>
    </form>
{% endblock content %}

{# REMOVED: The entire extra_js block has been deleted from this file. #}