{% extends "base.html" %}
{% load static %}

{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
    <h2>{{ page_title }}</h2>

    <div class="page-actions">
    <a href="{% url 'appointments:schedule_appointment' %}" class="action-link button-primary">Schedule New Appointment</a>
    </div>

    {% if appointments_list %}
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Date & Time</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments_list %}
                <tr>
                    <td><a href="{% url 'patients:patient_detail' appointment.patient.id %}">{{ appointment.patient.name }}</a></td>
                    <td><a href="{% url 'doctors:doctor_detail' appointment.doctor.id %}">Dr. {{ appointment.doctor.name }}</a></td>
                    <td><a href="{% url 'appointments:appointment_detail' appointment.id %}">{{ appointment.appointment_datetime|date:"Y-m-d P" }}</a></td>
                    <td>{{ appointment.reason|default:"N/A" }}</td>
                    <td>{{ appointment.get_status_display }}</td>
                    <td>{{ appointment.notes|default:"N/A" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <p class="no-items">No appointments found in the system yet.</p>
    {% endif %}
{% endblock content %}